{% extends "base.html" %}
{% load static %}

{% block title %}
    List Brands
{% endblock %}
 
{% block header %}
    Brands
{% endblock %}

{% block main %}
{% if request.user.is_superuser %}
    <a href='{% url 'create-brand' %}'> Create Brand </a>
{% endif %}
<br>
<br>
<table>
    <tr>
        <th>SN</th>
        <th>Brand Name</th>
        <th>Action</th>
    </tr>
    {% for brand in brands %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ brand.name }}</td>
        <td><a href="{% url 'detail-brand' brand.id %}">View</a></td>
    </tr>
    {% empty %}
    <td>No vehicles</td>
    {% endfor %}
</table>

{% if is_paginated %}
<div class="pagination">
    <span class="page-links">
        {% if page_obj.has_previous %}
            <form method='GET' action="{% url 'list-brands' %}">
                <input type='hidden' name='page' value='{{ page_obj.previous_page_number }}'>
                <button>Prev</button>
            </form>
        {% endif %}
        <span class="page-current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
        <form method='GET' action="{% url 'list-brands' %}">
            <input type='hidden' name='page' value='{{ page_obj.next_page_number }}'>
            <button>Next</button>
        </form>
        {% endif %}
    </span>
</div>
{% endif %}

{% endblock %}



