{% extends "base.html" %}
{% load static %}

{% block title %}
Create Vehicle
{% endblock %}

{% block header %}
Create Vehicle
{% endblock %}

{% block main %}
<h1>
    Create Vehicle Form
</h1>
<form method="POST" action="{% url 'create-vehicle' %}">
    {% csrf_token %}
    <p>model</p>
    <input type="text" name="model"> <br>
    <p>brand</p>
    <input type="text" name="brand"> <br>
    <p>type</p>
    <input type="text" name="type"> <br>
    <p>manufactured_date</p>
    <input type="datetime" name="manufactured_date"> <br>
    <button type="submit">Submit</button> <br>
</form>

{% endblock %}