{% extends "base.html" %}
{% load static %}

{% block title %}
    List Parts
{% endblock %}
 
{% block header %}
    Parts
{% endblock %}

{% block main %}
<a href='{% url 'create-part' %}'> Create Part </a>
<br>
<br>
<table>
    <tr>
        <th>SN</th>
        <th>Part</th>
        <th>Manufacturer</th>
        <th>Quantity</th>
        <th>Action</th>
    </tr>
    {% for part in all_parts %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ part.name }}</td>
        <td>{{ part.manufactuer }}</td>
        <td>{{ part.quantity }}</td>
        <td><a href="{% url 'part-detail' part.id %}">View</a></td>
    </tr>
    {% empty %}
    <td>No Parts</td>
    {% endfor %}
</table>

{% endblock %}



