{% extends "base.html" %}
{% load static %}

{% block title %}
    List Vehicles
{% endblock %}
 
{% block header %}
    Vehicles
{% endblock %}

{% block main %}
{% if request.user.is_authenticated and request.user.is_superuser %}
<a href='{% url 'create-vehicle' %}'> Create Vehicle </a>
{% endif %}
<br>
{% for vehicle in all_vehicles %}
    <a href="{% url 'vehicle-detail' vehicle.id %}">{{ vehicle.brand }} {{ vehicle.model }}</a>
    <p>model: {{ vehicle.model }}</p> 
    <p>brand: {{ vehicle.brand }}</p> 
    <p>type: {{ vehicle.type }}</p>
    <br>
    <br>
{% endfor %}

{% endblock %}



